body {
    font-family: Arial, sans-serif;
    justify-content: center ;
    margin: 0;
    padding: 0;
}

/* Grid Layout */
.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    
}

.containerTE, .containerBtnS, .containerSelector, .containerPriori {

    padding: 10px;
   

}

.containerTE {
    justify-content: center ;
    text-align: center;
}

.containerD {
    justify-content: center;
    text-align: center; 
    
}

.containerSelector {
    justify-content: center ;
}

.containerPriori {
    justify-content: center ;
}

.containerBtnS {
    justify-content: center ;
    
}

.containerT, .containerE {
    padding: 10px;
    background-color: white;
    margin-bottom: 15px;
}

.containerT {
    display: grid;
    grid-template-columns:auto;
    justify-content: center;
    size-adjust: 30%;
    background-color: orange;
}

.containerE {
    display: grid;
    grid-template-columns:auto;
    background-color: orange;
}

h2 {
    text-align: center;
}

@media (min-width: 768px) {
    .containersTaskEvent {
        grid-template-columns: 1fr;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .containerSelector, .containerPriori, .containerBtnS {
        width: 100%;
        margin-bottom: 15px;
        background-color: white;
    }

    .containersTaskEvent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}